name: Docker build and push

on:
  workflow_run:
    workflows: ["SonarCloud Analysis"]
    types:
      - completed  # Could be used with "success" to be accurate

jobs:
  backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./back

    steps:
      # I - Check the repository code
      - name: Checkout repository
        uses: actions/checkout@v4

      # II - Set up QEMU to build a multi-architectures compatible image
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # III - Set up Docker
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # IV - Log in to docker hub
      - name: Log in to docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # V - Build and push the image
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./back
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/bobapp-backend:latest
  
  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./front

    steps:
      # I - Check the repository code
      - name: Chekout repository
        uses: actions/checkout@v4

      # II - Set up QEMU to build a multi-architectures compatible image
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # III - Set up Docker
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # IV - Log in to docker hub
      - name: Log in to docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # V - Build and push the image
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./back
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/bobapp-frontend:latest
   
