name: SonarCloud Analysis

on:
  push:
    branches: [ "main" ] # Trigger the workflow on pushes to the main branch
  pull_request:
    branches: [ "main" ] # Trigger the workflow on pull requests targeting the main branch

permissions:
  pull-requests: read # Allows SonarCloud to add comments or checks to the pull requests

jobs:
  # Backend SonarCloud Analysis
  sonarcloud-backend:
    runs-on: ubuntu-latest # Use the latest Ubuntu environment for the job

    defaults:
      run:
        working-directory: back # Set the default working directory to 'back' for all steps in this job

    steps:
      # Step 1: Check out the repository code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4.4.0
        with:
          java-version: 17
          distribution: "temurin"
          cache: "maven"

      # Step 3: Run SonarCloud analysis
      - name: Analyze with SonarCloud
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=oulibouli6456_bobapp-backend

  # Frontend SonarCloud Analysis
  sonarcloud-frontend:
    runs-on: ubuntu-latest # Use the latest Ubuntu environment for the job

    defaults:
      run:
        working-directory: front # Set the default working directory to 'front' for all steps in this job

    steps:
      # Step 1: Check out the repository code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up Node.js environment
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16' # Specify Node.js version 16

      # Step 3: Run SonarCloud analysis
      - name: Analyze with SonarCloud
        # SonarCloud GitHub Action to perform the code analysis
        # Optionally pin the action to a specific commit or version for stability
        uses: SonarSource/sonarcloud-github-action@4006f663ecaf1f8093e8e4abb9227f6041f52216
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} # Token for authenticating with SonarCloud
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information and decorate PRs
        with:
          projectBaseDir: front # Set the base directory to 'front' for SonarCloud analysis
